body {
    margin: auto;
    max-width: 650px;
    line-height: 1.6;
}

h1,h2,h3 {
    line-height: 1.2;
}

pre {
    border: 0.1rem solid;
    border-color: clear;
    color: #00ff00;
    padding: 0.4rem;
    background: #111;
}
