body {
    margin: auto;
    max-width: 650px;
    line-height: 1.6;
}

header nav ol {
    border-top: 0.1em solid;
    border-bottom: 0.1em solid;
    padding: 0.3em;
    /* margin: 0; */
}

header nav li {
    list-style-type: none;
    display: inline;
    margin-right: 1em;
    padding: 0;
}

h1,h2,h3 {
    line-height: 1.2;
}

pre {
    border: 0.1em solid;
    border-color: #111;
    color: #00ff00;
    padding: 0.5em;
    background: #111;
}
